@page
@model CounterModel
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-6">Counter &nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>    
<script src="~/js/counter.js"></script>
@*
    If you need a version of the chat script that is compatible with IE 11, replace the above <script> tag that imports chat.js with this one
    <script src="~/js/es5-chat.js"></script>
*@
