@page

@Html.Partial("Samples/CounterView")


@* 
    Html.Partial("Samples/CompleteSamplePage") 

*@

 <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Usibox</h1>
        <h2>V3.0.1</h2>
        <p>Bienvenue sur le site d'administration de votre Usibox.</p>

        
    </div>
</div>









